name: Test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  id-token: write
  issues: write
  pull-requests: write

jobs:
  TruffleHog:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: TruffleHog OSS
        id: trufflehog
        uses: trufflesecurity/trufflehog@main
        continue-on-error: true
        with:
          path: ./
          base: "main"
          #head: HEAD
          extra_args: --debug
      - name: scan-push
        uses: trufflesecurity/trufflehog@main
        continue-on-error: true
        with:
          base: "main"
          #head: ${{ github.ref_name }}
          extra_args: --results=verified,unknown
      - name: Scan Results Status
        if: steps.trufflehog.outcome == 'failure'
        run: exit 1
